<!--<h1>Articles</h1>
<br>
<br>
<%= link_to "New Article", new_article_path, class: "btn btn-primary" %>

<br>
<br>
<table class="table">
<thead>
  <tr>
    <th scope="col">Title</th>
    <th scope="col" colspan="3">Actions</th>
  </tr>
</thead>

<tbody>
  <% @articles.each do |article| %>
    <% unless article.archived? %>
      <tr>
        <th scope="row"><%= article.title %></th>
        <th scope="row"><%= link_to "Show", article %></th>
        <th scope="row"><%= link_to "Edit", edit_article_path(article) %></th>
        <th scope="row"><%= link_to "Destroy", article, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %></th>
      </tr>
    <% end %>
  <% end %>
</tbody>
</table>
<br>     -->


<% @articles.each do |article| %>
  <% unless article.archived? %>
    <article class="blog-post">
      <h2 class="blog-post-title"><%= article.title %></h2>
      <p class="blog-post-meta">January 1, 2021 by <a href="#">Mark</a></p>
      <%= article.body %>        
    </article>      
  <% end %>
<% end %>


    
